.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.main-content {
  display: flex;
  flex: 1; /* розтягує вміст між Header та Footer */
}

.sidebar {
  width: 20%;
}

.content {
  flex: 1;
}
